/* =============================================================================
  VARIABLES
============================================================================= */

:root {
  --main-bg-color: white;
  --main-font-color: #333;
  --wide-nav-width: 29.5%;
  --narrow-nav-width: 23%;
  --extra-narrow-nav-width: 15%;
}

/* =============================================================================
  RESET
============================================================================= */

html {
  box-sizing: border-box;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*
    Make text look good.
    Note: This could be processor intensive on smaller machines.
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
}

audio,
video,
img,
iframe {
  max-width: 100%;
}

/*
  Remove the gap between images and the bottom of their containers.
  See: h5bp.com/i/440
*/
img {
  vertical-align: middle;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-font-color);
}
a:hover {
  text-decoration: underline;
}

small {
  display: block;
}

hr {
  border: 1px solid var(--main-bg-color);
  margin: 0.5rem 0;
}

/* =============================================================================
  TYPE
============================================================================= */

body {
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}

/* =============================================================================
  HOMEPAGE
============================================================================= */

.splash-image {
  margin: 0 0 4rem 0;
  max-width: 813px;
}

/* =============================================================================
  HEADER
============================================================================= */

.masthead {
  padding: 1rem;
}

.site-title {
  margin: 0 0 2rem 0;
}

.main-nav {
  font-style: italic;
  line-height: 1.3;
}

/* =============================================================================
  PORTFOLIO CONTENT
============================================================================= */

article {
  max-width: 120rem;
}

.caption {
  text-align: center;
  padding: 1rem 0;
}

.intro-text {
  padding: 1rem;
}

.intro-text p {
  padding: 0.5rem 0;
}

/* =============================================================================
  HELPER CLASSES
============================================================================= */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
  Extends the `.visuallyhidden` class to allow the element to be focusable when
  navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* =============================================================================
  MEDIA QUERIES
============================================================================= */

/* SMALL -------------------------------------------------------------------- */

@media only screen and (min-width: 50rem) {
  .masthead {
    width: var(--wide-nav-width);
    position: fixed;
    height: 100vh;
  }

  .splash-image,
  article {
    padding-left: var(--wide-nav-width);
  }
}

/* MEDIUM ------------------------------------------------------------------- */

@media only screen and (min-width: 60rem) {
  .masthead {
    width: var(--narrow-nav-width);
  }

  .splash-image,
  article {
    padding-left: var(--narrow-nav-width);
  }

  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    align-items: center;
  }

  .portfolio-image:nth-child(9n) {
    grid-column: 1 / 3;
  }

  .portfolio-image:nth-child(11n),
  .portfolio-image:last-of-type {
    grid-column: 2 / -1;
  }
}

/* LARGE -------------------------------------------------------------------- */

@media only screen and (min-width: 90rem) {
  .masthead {
    width: var(--extra-narrow-nav-width);
  }

  .splash-image,
  article {
    padding-left: var(--extra-narrow-nav-width);
  }

  article {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =============================================================================
  PRINT STYLES
============================================================================= */

@media print {
  * {
    background: transparent !important;
    /* Black prints faster: h5bp.com/s */
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  img {
    max-width: 99999999px !important;
    page-break-inside: avoid;
    margin: 1rem auto;
    display: block;
  }

  @page {
    margin: 0.5cm;
  }
}
